/*variables*/
:root {
    --font-saira:'Saira', sans-serif;
    --color-white:#fff;
    --point-blue-1:#0295FF;
    --point-green-1:#1ED4A0;
    --point-red-1:#EA0000;
    --point-yellow-1:#FFDC16;
    --point-orange-1:#F38D35;
    --gray-06:#060606;
    --gray-16:#161616;
    --gray-26:#262626;
    --gray-36:#363636;
    --gray-46:#464646;
    --gray-76:#767676;
    --gray-c1:#c1c1c1;
    --gray-f2:#f2f3f5;
    --white-b4:#b4b4b4;
}

/*header*/
header {
    position:fixed;
    top:0;
    width:100%;
    background:rgba(255, 255, 255, .3);
    backdrop-filter:blur(8px);
    z-index:9;
}
header nav {
    max-width:1704px;
    width:100%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
header nav h1.logo {
    font-size:2.4rem;
    font-weight:600;
}
header nav > .gnb {
    display:flex;
    align-items:center;
}
header nav > .gnb > li a {
    width:120px;
    height:100%;
    background:transparent;
    padding:2rem 0;
    display:block;
    font-size:1.8rem;
    font-weight:500;
    transition:all .3s linear;
    text-align:center;
}
header nav > .gnb > li:hover a {
    background:var(--point-orange-1);
}
.btn_site_map {
    display:none;
}
.btn_site_map .btn_cls {
    display:none;
}
.btn_site_map .gnb_m {
    display:none;
}

/*commons*/
.cont_wrap > [class*=sct_] {
    max-width:1704px;
    width:100%;
    margin:0 auto;
}
.top_sbjt_box .txt_box {
    position:relative;
    height:44px;
    overflow:hidden;
}
[class*=sct_] .top_sbjt_box .txt_box:after {
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background:var(--gray-16);
    transform:scale(0, 1);
    transform-origin:0% 100%;
    transition:all .6s linear;
}
[class*=sct_].active .top_sbjt_box .txt_box:after {
    transform:scale(1, 1);
}
.top_sbjt_box .txt_box > p {
    font-size:4rem;
    font-weight:600;
    transform:translateY(60px);
    transition:all .6s linear;
    transition-delay:.6s;
}
[class*=sct_].active .top_sbjt_box .txt_box > p {
    transform:translateY(0);
}

/*sct_1*/
.cont_wrap > .sct_1 {
    height:90vh;
    display:flex;
    align-items:flex-start;
    gap:0 2.4rem;
    padding:12rem 0 8rem 0;
}
.cont_wrap > .sct_1 > .left_box {
    width:35%;
    flex-shrink:0;
}
.cont_wrap > .sct_1 > .left_box .img_box {
    position:relative;
    width:100%;
    aspect-ratio:1 / 0.8;
    background:var(--gray-f2);
    transform:scale(0 ,1);
    transform-origin:100% 50%;
    transition:transform .3s linear;
    transition-delay:0;
}
.cont_wrap > .sct_1.active > .left_box .img_box {
    transform-origin:0 50%;
    transform:scale(1, 1);
}
.cont_wrap > .sct_1 > .left_box .img_box:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--point-orange-1);
    transform-origin:0 50%;
    transition:transform .3s linear;
    transition-delay:.6s;
    z-index:2;
}
.cont_wrap > .sct_1.active > .left_box .img_box:before {
    transform:scale(0, 1);
    transform-origin:100% 50%;
}
.cont_wrap > .sct_1 > .left_box .img_box:after {
    content:"";
    position:absolute;
    top:-2rem;
    left:50%;
    transform:translateX(-50%);
    width:100%;
    height:calc(100% + 2rem);
    background:url(/images/img_profile.png) no-repeat center center / contain;
    transition:opacity .3s linear;
    transition-delay:.6s;
    opacity:0;
}
.cont_wrap > .sct_1.active > .left_box .img_box:after {
    opacity:1;
}
.cont_wrap > .sct_1 > .right_box {
    width:calc(70% - 2.4rem);
}
.cont_wrap > .sct_1 > .right_box p {
    position:relative;
    display:inline-block;
    transform:scale(0 ,1);
    transform-origin:100% 50%;
    transition:transform .3s linear;
    transition-delay:0;
    font-size:2.4rem;
    color:var(--gray-36);
}
.cont_wrap > .sct_1.active > .right_box p {
    transform-origin:0 50%;
    transform:scale(1, 1);
}
.cont_wrap > .sct_1 > .right_box p:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--gray-c1);
    transform-origin:0 50%;
    transition:transform .35s linear;
    transition-delay:.5s;
}
.cont_wrap > .sct_1.active > .right_box p:before {
    transform:scale(0, 1);
    transform-origin:100% 50%;
}
.cont_wrap > .sct_1 > .right_box p:nth-of-type(2) {
    margin-top:2rem;
}

/*sct_2*/
.cont_wrap > .sct_2 .work_list .work_box {
    position:relative;
    display:flex;
    align-items:flex-start;
    gap:0 2.4rem;
    background:var(--color-white);
    margin:2.4rem 0;
    padding:4rem 1.6rem;
    transition:all .3s linear;
}
.cont_wrap > .sct_2 .work_list .work_box:hover {
    background:var(--gray-f2);
}
.cont_wrap > .sct_2 .work_list .work_box .btn_link {
    position:absolute;
    top:2rem;
    right:2rem;
    width:48px;
    height:48px;
    background:url(/images/icon_right.png) no-repeat center center / contain;
}
.cont_wrap > .sct_2 .work_list .work_box:hover .btn_link {
    animation:to_right 1s ease-in infinite;
}
.cont_wrap > .sct_2 .work_list .work_box:hover .btn_link:hover {
    background:url(/images/icon_right_h.png) no-repeat center center / contain;
}
@keyframes to_right {
    0% {
        right:4rem;
    }
    50% {
        right:2rem;
    }
    100% {
        right:4rem;
    }
}
.cont_wrap > .sct_2 .work_list .work_box .left_box {
    width:35%;
    flex-shrink:0;
}
.cont_wrap > .sct_2 .work_list .work_box .left_box .img_box {
    position:relative;
    height:350px;
    background:var(--gray-f2);
    overflow:hidden;
}
.cont_wrap > .sct_2 .work_list .work_box .left_box .img_box img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%) scale(1, 1);
    width:100%;
    height: 100%;
    object-fit:cover;
    transition:all .35s linear;
}
.cont_wrap > .sct_2 .work_list .work_box:hover .left_box .img_box img {
    transform:translate(-50% ,-50%) scale(1.05, 1.05);
}
.cont_wrap > .sct_2 .work_list .work_box .right_box .work_sbjt {
    position:relative;
    display:inline-block;
    font-size:5.6rem;
    font-weight:600;
    margin-bottom:2rem;
    transform:scale(0 ,1);
    transform-origin:100% 50%;
    transition:transform .3s linear;
    transition-delay:0;
}
.cont_wrap > .sct_2 .work_list .work_box.active .right_box .work_sbjt {
    transform-origin:0 50%;
    transform:scale(1, 1);
}
.cont_wrap > .sct_2 .work_list .work_box .right_box .work_sbjt:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--point-orange-1);
    transform-origin:0 50%;
    transition:transform .3s linear;
    transition-delay:.6s;
}
.cont_wrap > .sct_2 .work_list .work_box.active .right_box .work_sbjt:before {
    transform:scale(0, 1);
    transform-origin:100% 50%;
}
.cont_wrap > .sct_2 .work_list .work_box .right_box dl {
    display:flex;
    align-items:center;
    gap:0 2.4rem;
    font-size:1.8rem;
    font-weight:500;
    color:var(--gray-36);
}
.cont_wrap > .sct_2 .work_list .work_box .right_box dl:not(:last-child) {
    margin-bottom:0.8rem;
} 
.cont_wrap > .sct_2 .work_list .work_box .right_box dl dt {
    position:relative;
    width:50px;
    display:inline-block;
    transform:scale(0 ,1);
    transform-origin:100% 50%;
    transition:transform .2s linear;
    transition-delay:0;
    color:var(--gray-76);
}
.cont_wrap > .sct_2 .work_list .work_box.active .right_box dl dt {
    transform-origin:0 50%;
    transform:scale(1, 1);
}
.cont_wrap > .sct_2 .work_list .work_box .right_box dl dt:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--gray-c1);
    transform-origin:0 50%;
    transition:transform .2s linear;
    transition-delay:.4s;
}
.cont_wrap > .sct_2 .work_list .work_box.active .right_box dl dt:before {
    transform:scale(0, 1);
    transform-origin:100% 50%;
}
.cont_wrap > .sct_2 .work_list .work_box .right_box dl dd {
    position:relative;
    display:inline-block;
    transform:scale(0 ,1);
    transform-origin:100% 50%;
    transition:transform .3s linear;
    transition-delay:0;
}
.cont_wrap > .sct_2 .work_list .work_box.active .right_box dl dd {
    transform-origin:0 50%;
    transform:scale(1, 1);
}
.cont_wrap > .sct_2 .work_list .work_box .right_box dl dd:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--gray-c1);
    transform-origin:0 50%;
    transition:transform .3s linear;
    transition-delay:.6s;
}
.cont_wrap > .sct_2 .work_list .work_box.active .right_box dl dd:before {
    transform:scale(0, 1);
    transform-origin:100% 50%;
}

/*sct_3*/
.cont_wrap .sct_3 {
    padding:8rem 0 4rem 0;
}
.cont_wrap .sct_3 .info_list {
    padding:4rem 0;
}
.cont_wrap .sct_3 .info_box {
    display:flex;
    align-items:center;
    gap:0 2.4rem;
    font-size:1.8rem;
    font-weight:500;
    color:var(--gray-36);
}
.cont_wrap .sct_3 .info_box dt {
    position:relative;
    width:50px;
    transform:scale(0 ,1);
    transform-origin:100% 50%;
    transition:transform .2s linear;
    transition-delay:0;
    color:var(--gray-76);
}
.cont_wrap .sct_3.active .info_box dt {
    transform-origin:0 50%;
    transform:scale(1, 1);
}
.cont_wrap .sct_3 .info_box dt:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--gray-c1);
    transform-origin:0 50%;
    transition:transform .2s linear;
    transition-delay:.4s;
}
.cont_wrap .sct_3.active .info_box dt:before {
    transform:scale(0, 1);
    transform-origin:100% 50%;
}
.cont_wrap .sct_3 .info_box dd {
    position:relative;
    display:inline-block;
    transform:scale(0 ,1);
    transform-origin:100% 50%;
    transition:transform .3s linear;
    transition-delay:0;
}
.cont_wrap .sct_3.active .info_box dd {
    transform-origin:0 50%;
    transform:scale(1, 1);
}
.cont_wrap .sct_3 .info_box dd:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--gray-c1);
    transform-origin:0 50%;
    transition:transform .3s linear;
    transition-delay:.6s;
}
.cont_wrap .sct_3.active .info_box dd:before {
    transform:scale(0, 1);
    transform-origin:100% 50%;
}

@media all and (max-width:1720px) {
    header {
        padding:0 2.4rem;
    }
    .cont_wrap > .sct_1 {
        padding:16rem 2.4rem 8rem 2.4rem;
    }
    .cont_wrap > .sct_2 {
        padding:6rem 2.4rem 6rem 2.4rem;
    }
    .cont_wrap > .sct_3 {
        min-height:30vh;
        padding:8rem 2.4rem 4rem 2.4rem;
    }
}
@media all and (max-width:1440px) {
    .cont_wrap > .sct_1 {
        height:70vh;
        padding:16rem 2.4rem 4rem 2.4rem;
    }
    .cont_wrap > .sct_1.active > .right_box p {
        font-size:2rem;
    }
}
@media all and (max-width:1024px) {
    header {
        padding:2rem 2.4rem;
    }
    header nav .gnb {
        display:none;
    }
    .btn_site_map {
        position:relative;
        display:block;
        width:40px;
        height:40px;
        background:var(--gray-16);
        border-radius:50%;
        cursor:pointer;
    }
    .btn_site_map:before {
        content:"";
        position:absolute;
        top:calc(50% - 0.4rem);
        left:50%;
        transform:translate(-50%, -50%);
        width:28px;
        height:2px;
        background:var(--color-white);
        transition:transform .3s linear;
    }
    .btn_site_map:after {
        content:"";
        position:absolute;
        top:calc(50% + 0.4rem);
        left:50%;
        transform:translate(-50%, -50%);
        width:28px;
        height:2px;
        background:var(--color-white);
        transition:transform .3s linear;
    }
    .btn_site_map.active:before {
        top:50%;
        background:var(--gray-76);
        transform-origin:50% 50%;
        transform:translate(-50%, -50%) rotate(45deg);
        z-index:3;
    }
    .btn_site_map.active:after {
        top:50%;
        background:var(--gray-76);
        transform-origin:50% 50%;
        transform:translate(-50%, -50%) rotate(135deg);
        z-index:3;
    }
    .btn_site_map.active .gnb_m {
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background:var(--color-white);
        display:flex;
        flex-direction:column;
        gap:2.4rem 0;
        align-items:center;
        justify-content:center;
        z-index:2;
    }
    .btn_site_map.active .gnb_m li a {
        font-size:3.2rem;
        font-weight:600;
    }
    .cont_wrap > .sct_2 .work_list .work_box .left_box .img_box {
        height:250px;
    }
    .cont_wrap > .sct_2 .work_list .work_box .right_box {
        padding-top:3rem;
    }
    .cont_wrap > .sct_2 .work_list .work_box .right_box .work_sbjt {
        font-size:4.8rem;
        line-height:1.2;
    }
}
@media all and (max-width:768px) {
    .cont_wrap > .sct_1 {
        height:auto;
        flex-wrap:wrap;
        gap:2.4rem 0;
    }
    .cont_wrap > .sct_1.active > div[class*=t_box] {
        width:100%;
    }
    .cont_wrap > .sct_1 > .left_box .img_box {
        aspect-ratio:1 / 0.6;
    }
    .cont_wrap > .sct_1.active > .right_box br {
        display:none;
    }
    .cont_wrap > .sct_1.active > .right_box p {
        font-size:1.8rem;
    }
    .cont_wrap > .sct_2 .work_list .work_box .btn_link {
        width:32px;
        height:32px;
    }
    .cont_wrap > .sct_2 .work_list .work_box .left_box .img_box {
        height:200px;
    }
    .cont_wrap > .sct_2 .work_list .work_box .right_box .work_sbjt {
        font-size:3.2rem;
    }
}
@media all and (max-width:580px) {
    .cont_wrap > .sct_2 .work_list .work_box {
        flex-wrap:wrap;
        gap:2.4rem 0;
    }
    .cont_wrap > .sct_2 .work_list .work_box > div[class*=t_box] {
        width:100%;
    }
    .cont_wrap > .sct_2 .work_list .work_box .right_box {
        padding-top:0;
        padding-bottom:2rem;
    }
    .cont_wrap > .sct_2 .work_list .work_box .btn_link {
        top:unset;
        bottom:2rem;
    }
    .cont_wrap > .sct_2 .work_list .work_box .right_box .work_sbjt {
        font-size:2.4rem;
    }
    .cont_wrap > .sct_2 .work_list .work_box.active .right_box dl {
        gap:0 1.6rem;
        font-size:1.6rem;
    }
}
@media all and (max-width:480px) {
    .cont_wrap > .sct_1.active > .right_box p {
        font-size:1.6rem;
    }
}